/* Author:me Contact:07087040050 */
/* styles */



body{
    font-family: cursive;
    padding: 0;
    margin: 0;
    background-image: url("../images/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-size: 35px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 5em;
    margin-left: 5%;
}
.nav-container{
    display: block;
    margin-top: 0.5em;
}
.btn{
    padding: 1%;
    text-align: center;
    font-size: 25px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 5%;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
    color: red;
    
}
.links{
    color: white;
    text-decoration: none;
    float: right;
    font-size: 20px;
    padding: 0.5em;
}
.brand{   
    font-size: 30px;
    margin-top: 51px;
    padding-left: 10px;
}
nav{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    overflow: hidden;
}